.App {
  width: 100vw;
  height: 100vh;
}

.Wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8em;
}

.Wrapper .widget-container {
  margin-bottom: 0.5em;
}

.Indicator {
  color: #000;
}

.Indicator span {
  color: red;
}
